.container {
    margin-top: 55px;
    margin-bottom: 120px;
}

.container a {
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.popular_titles {
    background-color: #414141;
}

.popular_titles h2 {
    color: #fff;
    margin-left: 5%;
    margin-top: 0;
    padding-top: 12px;
    padding-bottom: 12px;
}

.error {
    margin-top: 40px;
    margin-left: 5%;
    margin-bottom: 325px;
}

.error a {    
    font-size: 20px;
}